#main{
	width: 60%;
	float: left;
	margin-top: 20px;
	margin-left: 3%;
}
#reg_auth_2>a {
	color: white;
}

.btn_2:hover{
	border-bottom: 2px solid rgba(217, 92, 72, 1);
	margin-top: 7px;
}

.btn_2:active{
	border-bottom: 0;
	margin-top: 9px;
}



.btn_2 {
	float: left;
	margin-right: 3%;
	margin-top: 5px;
	border-radius: 5px;
	padding: 5px 9px;
	font-size: 1.2em;
	background-color: rgba(236, 101, 80, 1);
	text-shadow: #454545 0 0 2px;
	border-bottom: 4px solid rgba(217, 92, 72, 1);
	font-family: 'Roboto Slab', serif;
}
